:root {
  --text: #333;
  --background: #fff;
  --primary: #1768a6;
  --status-info: #7ab0db;
  --status-ok: #1d884f;
  --status-warn: #f3c835;
  --status-error: #db4f60;
}

body {
  font-family: sans-serif;
  color: var(--text);
  margin: 0;
  padding: 0;
}

ul, ol {
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear-from-left {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes appear-from-top {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
