@import 'theme.css';
@import 'animations.css';

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  min-height: 100vh;
}

ul, ol {
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
